# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xcworkspace
.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes

# Swift Package Manager
Packages/
.swiftpm/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# macOS
.DS_Store
